.records-container {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 10px;
  color: black;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.records-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.records-table th,
.records-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.records-table th {
  background-color: #f8f8f8;
  color: #333;
}

.records-table tbody tr {
  transition: background-color 0.3s ease;
}

.records-table tbody:empty::before {
  content: 'No records to display';
  display: block;
  text-align: center;
  padding: 20px 0;
}

.records-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.records-table tr:hover {
  background-color: #eaeaea;
}

.edit-button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #005f73;
}

